<p>onepost works!</p>


  <div style="margin: .5em .5em .5em .5em; background-color: lightblue;">
    Title: {{thepostinst.title}}   
    <!-- <button>Delete</button> -->
</div>

<div style="margin: .5em .5em .5em .5em; background-color: yellow;">
    Thought: {{thepostinst.thought}}<br />
    <!-- <button>Delete</button> -->
</div>

<!-- <div style="margin: .5em .5em .5em .5em; background-color: red;">
    Title: {{thepostinst.title}}<br />
    Thought: {{thepostinst.thought}}<br />
    <!-- <button>Delete</button> -->
<!--</div> -->